.env
.env.local
.env.local.php
.env.*.local
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
!config/secrets/prod.env # Exceção: Mantém o arquivo de segredos criptografado de prod.

/vendor/
/var/
/public/bundles/
/public/build/
/node_modules/
/public/hot

.idea/
.vscode/
.vagrant/
Homestead.json
Homestead.yaml

/public/storage
*.key
*.log

.DS_Store
Thumbs.db
